@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid black; */
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fbfbfd;
}

.crypto{
    background-image: url('../public/Global/crypto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    margin-top: 1rem;
}

.bigHeading {
    margin-top: 2.5rem;
    font-size: 28px;
    font-weight: 600;
    color: #000;
}

.subHeading {
    margin-top: 1rem;
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.heading{
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}


.slick-dots .slick-active button {
    background-color: #000;
    opacity: 1;
    width: 30px;
    height: 5px;
    border-radius: 8px;
    margin-top: 4px;
  }
  
.slick-dots {
    position: absolute !important;
    bottom: 0 !important;
    transform: translateY(40px) !important;
}